server:
  port: 8088

spring:
  application:
    name: notification-service

  datasource:
    url: jdbc:postgresql://postgres-db:5432/notification_db
    username: hr_admin
    password: hr_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  # EMAIL AYARLARI (GMAIL ÖRNEĞİ)
  mail:
    host: smtp.gmail.com
    port: 587
    username: senin_emailin@gmail.com # BURAYI DOLDUR
    password: senin_app_sifren # BURAYI DOLDUR (Google App Password)
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
