server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        # 1. Employee Service
        - id: employee-service
          # Eğer EMPLOYEE_URI tanımlıysa onu kullan, yoksa localhost:8081 kullan
          uri: ${EMPLOYEE_URI:http://localhost:8081}
          predicates:
            - Path=/api/employees/**, /api/teams/**, /api/positions/**, /api/departments/**, /api/job-titles/**
          filters:
            - AuthenticationFilter

        # 2. Auth Service
        - id: auth-service
          uri: ${AUTH_URI:http://localhost:8082}
          predicates:
            - Path=/auth/**

        # 3. Leave Service
        - id: leave-service
          uri: ${LEAVE_URI:http://localhost:8083}
          predicates:
            - Path=/api/leaves/**
          filters:
            - AuthenticationFilter

        # 4. Document Service
        - id: document-service
          uri: ${DOC_URI:http://localhost:8084}
          predicates:
            - Path=/api/documents/**
          filters:
            - AuthenticationFilter

          # 5. Admin Service (YENİ)
        - id: admin-service
          uri: ${ADMIN_URI:http://localhost:8085}
          predicates:
            # Menü istekleri artık buraya
            - Path=/api/menus/**, /api/admin/**, /api/screens/**
          filters:
            - AuthenticationFilter

        # 6. Recruitment Service
        - id: recruitment-service
          uri: ${RECRUITMENT_URI:http://localhost:8086}
          predicates:
            - Path=/api/candidates/**
          filters:
            - AuthenticationFilter

        # 7. Performance Service
        - id: performance-service
          uri: ${PERFORMANCE_URI:http://localhost:8087}
          predicates:
            - Path=/api/performance/**
          filters:
            - AuthenticationFilter

        # 7. Notification Service
        - id: notification-service
          uri: ${NOTIFICATION_URI:http://localhost:8088}
          predicates:
            - Path=/api/notifications/**
          filters:
            - AuthenticationFilter

# Actuator ayarları (ayrı bir blok olmalı)
management:
  endpoints:
    web:
      exposure:
        include: health, info
