server:
  port: 8085

spring:
  application:
    name: admin-service
  
  datasource:
    url: jdbc:postgresql://localhost:5432/admin_db
    username: hr_admin
    password: hr_password
    driver-class-name: org.postgresql.Driver
  
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true